<div class="linux-container">
	<mat-toolbar [style.background]='secondary'>35 Basic Commands Every Users Should Know</mat-toolbar>
	 <mat-card>
		<p>When hearing about Linux, most people think of a complicated operating system that is only used by programmers. But it’s not as scary as it seems.

<p>Linux is an entire family of open-source Unix operating systems, that are based on the Linux Kernel. This includes all of the most popular Linux based systems like Ubuntu, Fedora, Mint, Debian, and others. More accurately, they’re called distributions or distros.</p>

<p>Since Linux was first released in 1991, it has continued to gain popularity due to its open-source nature. People can freely modify and redistribute it under their own name.</p>

<p>When operating a Linux OS, you need to use a shell — an interface that gives you access to the operating system’s services. Most Linux distributions use a graphic user interface (GUI) as their shell, mainly to provide ease of use for their users.</p>

<p>That being said, it’s recommended to use a command-line interface (CLI) because it’s more powerful and effective. Tasks that require a multi-step process through GUI can be done in a matter of seconds by typing commands into the CLI.</p>

<p>So if you’re considering using Linux, learning basic command lines will go a long way. In this article, you’ll learn 35 basic Linux commands that will undoubtedly help you navigate through Linux as a newbie.</p>
	</mat-card>
	<mat-toolbar>Basic Commands</mat-toolbar>
	<mat-card [style.background]='secondary'>
		<h2>Clear</h2>
		<p class="command"><span>clear</span></p>

		<h2>Listing Files</h2>
		<p>If you want to see list of files on your linux system use the <b>'ls'</b>  command.</p>
		<p class="note"> <b> 'ls -R' will show all subdirectories </b></p>
		<p  class="command">ls</p>

		<h2>Deleting Files</h2>
		<p> the 'rm' command removes files from the systemk without conformation.</p>
		<p class="command">rm</p>

		<h2>Renaming Filename</h2>
		<p> the same <b>mv </b> command used to move file from one directory another directory.</p>
		<p class="command">mv file_name newfile_name</p>

		<mat-toolbar>Directory Manipulation</mat-toolbar>
		<p>Some familiar commands are,</p>
		<ul>
			<li><b>Create</b></li>
			<li><b>Remove</b></li>
			<li><b>Rename</b></li>
		</ul>

		<h2>Creating Directories</h2>
		<p></p>
		<p class="command">mkdir directory_name</p>
		<h2></h2>

		<h2>Renaming A Directory</h2>
		<p>This command  will rename a directory</p>
		<p class="command">mv directory_name <span>newDirectory_name</span></p>

		<h2>Remove/Delete Directory</h2>
		<p> Before Deleting a directory ensure there is no subdirectory.if any this command will not work</p>
		<p class="command">rmdir directory_name</p>

		<mat-toolbar>Other Important Commands</mat-toolbar>

		<h2>the 'Man' Command</h2>
		<p> <b>man</b> stands for manual like a help command.</p>
		<p class="command">man</p>

		
	</mat-card> 
</div>