<div class="prism-container">
  <div class="menu-container">
    
  </div>
  <div class="content-container">
  	<mat-toolbar>Prismjs In Angular Framework</mat-toolbar>
  	<p>install prismjs using command prompt.</p>
    <div [innerHTML]="pinstall"></div>
  	<p>then mention below code in angular.json</p>
    <div [innerHTML]='json'></div>
    <p>import theme in styles.css </p>
    <div [innerHTML]='stylescss'></div>
  	<p>Generate separate service </p>
    <div [innerHTML]="service"></div>
    <p>Import this into app.module and mention in providers</p>
    <div [innerHTML]="appmodule"></div>
    <p>then import the service into your component.ts where you need to color those codes.</p>
    <div [innerHTML]="component"></div>
    <p>procedure to use this in html</p>
    <div [innerHTML]="injuction"></div>
    <p>Finally the output looks like this</p>
    <div [innerHTML]="output"></div>
  </div>
</div>