<mat-toolbar  id="header">
    <h1 class="title" ><a routerLink=''> {{ title }}</a></h1>
    <button onclick = 'show("show")'   id="small-screen">menu</button>

    <div class="sm-container" id="menu" onclick = 'show("hide")'> <!-- this is for background of side nav -->
    <div class="small-menu">
    	<span onclick = 'show("hide")' class="close">&#10005;</span>
       		<div id="nav" >
       			<app-nav></app-nav>
       		</div>
    </div>
    
</div>
</mat-toolbar>

<div class="big-screen" >
	<app-nav></app-nav>
</div>
<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="footer-container">
    <div class="popular-course">
      <h2>Popular courses</h2>
      <a href="#">python</a>
      <a href="#">HTML</a>
      <a href="#">CSS</a>
      <a href="#">JavaScript</a>
    </div>
    <div class="contact-us">
      <h2>Contact Us</h2>
      <a href="#">Leave a mail</a>
      <a href="#">About Us</a>
    </div>
    
  </div>
            
</footer>
